.section {
  text-align: center;
}

.animated-section {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2.5s ease, transform 2.5s ease;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-image {
  max-height: 40rem; // Adjust height as needed
  object-fit: cover; // Ensures images maintain aspect ratio
  width: 100%;
}
